<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_MailGuard>
            <version>0.0.1</version>
        </Hackathon_MailGuard>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_MailGuard />
            </modules>
        </suite>
    </phpunit>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_MailGuard before="Mage_Adminhtml">Hackathon_MailGuard_Adminhtml</Hackathon_MailGuard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <hackathon_mailguard>
                    <file>hackathon_mailguard/hackathon_mailguard.xml</file>
                </hackathon_mailguard>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <hackathon_mailguard>
                <class>Hackathon_MailGuard_Model</class>
                <resourceModel>hackathon_mailguard_resource</resourceModel>
            </hackathon_mailguard>
            <hackathon_mailguard_resource>
                <class>Hackathon_MailGuard_Model_Resource</class>
                <entities>
                    <address>
                        <table>hackathon_mailguard_address</table>
                    </address>
                </entities>
            </hackathon_mailguard_resource>
            <core>
                <rewrite>
                    <email>Hackathon_MailGuard_Model_Core_Email</email>
                    <email_template>Hackathon_MailGuard_Model_Core_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <blocks>
            <hackathon_mailguard>
                <class>Hackathon_MailGuard_Block</class>
            </hackathon_mailguard>
        </blocks>
        <helpers>
            <hackathon_mailguard>
                <class>Hackathon_MailGuard_Helper</class>
            </hackathon_mailguard>
        </helpers>
        <resources>
            <hackathon_mailguard_setup>
                <setup>
                    <module>Hackathon_MailGuard</module>
                </setup>
            </hackathon_mailguard_setup>
        </resources>
        <events>
            <email_template_send_before>
                <observers>
                    <hackathon_mailguard>
                        <class>hackathon_mailguard/observer</class>
                        <method>emailSendBefore</method>
                    </hackathon_mailguard>
                </observers>
            </email_template_send_before>
            <email_send_before>
                <observers>
                    <hackathon_mailguard>
                        <class>hackathon_mailguard/observer</class>
                        <method>emailSendBefore</method>
                    </hackathon_mailguard>
                </observers>
            </email_send_before>
            <email_template_send_after>
			    <observers>
			        <hackathon_mailguard>
			<class>hackathon_mailguard/observer</class>
			<method>emailSendAfter</method>
			        </hackathon_mailguard>
			    </observers>
			</email_template_send_after>
			<email_send_after>
			    <observers>
			        <hackathon_mailguard>
			<class>hackathon_mailguard/observer</class>
			<method>emailSendAfter</method>
			        </hackathon_mailguard>
			    </observers>
			</email_send_after>
        </events>
    </global>
    <default>
        <hackathon_mailguard>
            <settings>
                <active>0</active>
                <type>0</type>
                <logging>0</logging>
            </settings>
        </hackathon_mailguard>
    </default>
</config>